/*général*/
:root {
  --primary: #0d6ce0;
  --secondary: #2b81e9;
  --light: whitesmoke;
  --dark: black;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  margin: 0;
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  cursor: none;
}

*::selection {
  background-color: #a6dcf5;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

/* header */
header {
  width: 100%;
  /*background-color: #0d6ce0;*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    135deg,
    rgba(13, 108, 224, 1),
    rgba(13, 108, 224, 1)
  );
}

#main-nav {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

#main-nav li {
  display: inline-block;
  background-color: var(--secondary);
  text-align: center;
  border-radius: 2rem;
  width: 150px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;

  transition: all 0.3s ease-in-out 0.1s;

  /*background-color: rgb(91, 131, 216);*/
}

#main-nav li:hover {
  color: var(--secondary);
  background-color: whitesmoke;
  font-weight: bold;
  scale: 1.05;

  transition: all 0.3s ease-in-out;
}

#main-nav li:last-of-type {
  border: 2px solid whitesmoke;
}

#main-nav li:last-of-type:hover {
  border-radius: 2rem;
  border-radius: 0.5rem;

  transition: all 0.3s ease-in-out;
}

header .toggle-icons {
  display: none;
}

/*section principale*/
#principal {
  /*background-color: white;*/
  width: 70%;
  margin: 0 auto;
  margin-top: 15vh;
  /*border-radius: 50px;*/
  display: flex;
  justify-content: center;
}

#principal h2 {
  font-size: 50px;
  font-family: "Phudu";
  margin-bottom: 3%;
}

#principal h2 span {
  background: linear-gradient(
    to right,
    var(--primary) 0,
    #a6dcf5 10%,
    var(--primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shiningName 10s infinite cubic-bezier(0.3, 0.56, 0.23, 0.63);
}

@keyframes shiningName {
  from {
    background-position: 0%;
  }

  60% {
    background-position: 500px;
  }

  to {
    background-position: 100%;
  }
}

#principal p {
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
  line-height: 1.7rem;
  letter-spacing: 0.05em;
}

.fade-up-container {
  overflow: hidden;
}

span.fade-up {
  display: inline-block;
  animation: fadeUp 0.5s ease-in-out;
}

@keyframes fadeUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*#principal p span {
  position: relative;
  overflow: hidden;
  top: 50px;
  background: red;
}*/

#principal img {
  width: 60%;
  object-fit: contain;
}

#principal .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#principal .right {
  display: flex;
  justify-content: center;
}

.classic-button {
  color: whitesmoke;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  text-align: center;
  border-radius: 2rem;
  width: 200px;
  padding: 10px;
  cursor: pointer;

  transition: all 0.3s ease-in-out 0.1s;
}

.classic-button:hover {
  color: #2b81e9;
  background-color: whitesmoke;
  font-weight: bold;
  scale: 1.05;

  transition: all 0.3s ease-in-out;
}

/*section about me*/
#aboutme {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 30px;
}

#aboutme p {
  line-height: 1.5rem;
  font-size: 15px;
  margin-bottom: 3%;
  text-align: justify;
}

#aboutme .content {
  margin-top: 3%;
  display: flex;
  width: 70%;
  align-items: center;
}

#aboutme .left,
#aboutme .right {
  /*pas de aboutme*/
  width: 50%;
}

#aboutme img {
  width: 50%;
}

#aboutme .left {
  display: flex;
  justify-content: center;
}

#aboutme button {
  margin-right: 2%;
}

#aboutme .dl-button {
  margin-bottom: 3%;
}

/*projets*/
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 70%;
  margin: 0 auto;*/
}

#projects .section-title {
  margin-bottom: 3%; /*0%*/
}

#projects .projects-section {
  width: 70%;
  margin-top: 0; /*3%*/
  margin-bottom: 3%;
  overflow: hidden;
  /*height: 0;*/
}

#projects .unfold-button {
  height: 2em;
  width: 2em;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 7px;
  margin-left: 10px;

  transition: all 0.5s ease-in-out 0.2s;
  animation: unfoldAnim 0.5s infinite alternate;
}

#projects .unfold-button:hover {
  scale: 1.1;
  animation-play-state: paused;
  transition: all 0.5s ease-in-out;
}

@keyframes unfoldAnim {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}

.subsection-title {
  margin: 20px;
}

#projects .projects-subtitle {
  font-size: 25px;
}

#projects .horizontal {
  display: flex;
}

#projects .vertical-bar {
  background-color: var(--secondary);
  width: 3px;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
}

#projects .horizontal-bar {
  background-color: var(--secondary);
  width: 5%;
  height: 3px;
  border-radius: 0 5px 5px 0;
}

#projects .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3%;
  height: 0px; /*enlever ces 2 lignes*/
  opacity: 0;
}

#projects .card {
  width: 25%;
  margin: 3%;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem; /*2%*/
  text-align: center;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);

  transition: all 0.5s ease-in-out 0.2s;
}

#projects .card:hover {
  scale: 1.05;

  transition: all 0.5s ease-in-out;
}

#projects .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

#projects .head i {
  font-size: 1.2em;
}

#projects .card h4 {
  font-size: 22px;
  font-weight: bold;
}

#projects .card .thumb {
  margin-bottom: 10%;
  margin-top: 10%;
  width: 100%;
}

#projects .language-logo {
  position: relative;
  width: 20%;
}

/*footer*/
footer {
  background-color: var(--primary);
  width: 100%;
  color: whitesmoke;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .section-title {
  margin-bottom: 2%;
}

footer .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  background: none; /*background-color:none;*/
}

footer .content h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 5%;
}

footer .content > .left,
footer .content > .right {
  width: 50%;
}

#contact {
  width: 100%;
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
}

#contact .left,
#contact .right,
#contact .vertical-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

#contact label {
  margin-bottom: 5px;
}

#contact input,
#contact textarea {
  border-radius: 2rem;
  height: 30px;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  outline: none;
  border: 0;

  transition: all 0.5s ease-in-out 0.2s;
}

#contact input:focus,
#contact textarea:focus {
  box-shadow: 0px 0px 10px white;

  transition: all 0.5s ease-in-out;
}

#contact input:focus:invalid {
  background-color: #f8a318;
  box-shadow: 0px 0px 10px #f8a318; /*#f8a318*/
}

#contact input.not-verified {
  background-color: #f8a318;
  box-shadow: 0px 0px 10px #f8a318;
}

#contact textarea {
  border-radius: 1rem;
  resize: none;
  height: 100px;
}

#contact .name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#contact .name .left,
#contact .name .right {
  width: 45%;
}

#contact button {
  margin: 0 auto;
  margin-top: 5%;
}

footer .content .right {
  text-align: center;
}

footer .content .right p {
  font-size: 17px;
  margin-bottom: 3%;
}

footer .content .right a {
  text-decoration: none;
  color: inherit;
}

footer .row a i {
  color: whitesmoke;
  font-size: 30px;
  margin: 2%;

  transition: all 0.5s ease-in-out 0.2s;
}

footer .row a:hover i {
  scale: 1.3;

  transition: all 0.5s ease-in-out;
}

footer i[class*="itch"]:hover {
  color: #f79c19;
}

footer i[class*="youtube"]:hover {
  color: #f32c14;
}

footer i[class*="github"]:hover {
  color: #2a0d0d;
}

/*effet de slide au scroll*/
.slide-in {
  transform: translateX(-100%);
  opacity: 0;

  transition: transform 0.6s cubic-bezier(0.97, 0.24, 0, 1.04),
    opacity 1s cubic-bezier(0.97, 0.24, 0, 1.04);
}

.slide-in.active {
  transform: translateX(0);
  opacity: 1;
}

/*effet d'apparition du texte*/
.slide-in span.fade-up {
  opacity: 0;
  transform: translateY(100%);
}

.slide-in.active span.fade-up {
  opacity: 1;
  transform: translateY(0%);
}

.slide-in span.first-fade {
  transition: all 0.5s cubic-bezier(0.97, 0.24, 0, 1.04) 0.5s;
}

.slide-in span.second-fade {
  transition: all 0.5s cubic-bezier(0.97, 0.24, 0, 1.04) 1s;
}

/* bouton remonter en haut */
#top-button {
  background-color: var(--secondary);
  color: white;
  font-size: 30px;
  border: 2px solid var(--secondary);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  scale: 0;
  z-index: 1;

  transition: all 0.3s;
}

#top-button:hover {
  background-color: whitesmoke;
  color: var(--secondary);
  scale: 1.1;

  transition: all 0.3s;
}

/*curseur*/
.inner-cursor {
  z-index: 10;
  position: fixed;
  left: 100px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;

  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
  width: 25px !important;
  height: 25px !important;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  z-index: 11;
  position: fixed;
  left: 100px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.1s;
  animation: cursorAnim 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

/*barres bleues de délimitation*/
.bar {
  width: 70%;
  height: 5px;
  border-radius: 100%;
  background-color: var(--secondary);
  margin-bottom: 5%;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--primary), var(--primary));
  border-radius: 10px;
}

/* taille tablette */
@media (max-width: 1000px) {
  /*header*/

  header .toggle-icons {
    color: whitesmoke;
    padding: 0.8rem;
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }

  .open-icon {
    display: block;
    color: whitesmoke;
  }

  header .close-icon {
    display: none;
  }

  .opened .open-icon {
    display: none;
  }

  .opened header .close-icon {
    display: block;
    color: var(--primary);
  }

  #main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 1s ease;
  }

  #main-nav li {
    font-size: 2rem;
    width: 50%;
    padding: 1rem;
    /*padding: 1rem 2rem 1rem 2rem;*/
  }

  .opened #main-nav {
    transform: translateX(0);
  }

  /*principal*/
  #principal {
    width: 90%;
  }
  #principal img {
    width: 80%;
  }

  /*aboutme*/
  #aboutme .content {
    width: 90%;
  }

  /*projects*/
  #projects .card {
    width: 35%;
  }

  /*footer*/
  footer .content > .right,
  footer .content > .left {
    width: 100%;
    margin-top: 3rem;
  }
}

/* taille smartphone */
@media (max-width: 700px) {
  /*principal*/
  #principal {
    flex-wrap: wrap;
  }

  #principal .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
  }

  #principal img {
    width: 60%;
    margin-top: 7%;
  }

  /*aboutme*/
  #aboutme .content {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  #aboutme .content > .right,
  #aboutme .content > .left {
    width: 90%;
    text-align: center;
  }

  #aboutme img {
    width: 70%;
    margin-top: 7%;
  }

  /*projects*/
  #projects .card {
    width: 90%;
  }
}
